    body {
        margin: 0px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        background: #44A08D;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #093637, #44A08D);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #093637, #44A08D);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        text-align: center;
        color: #DAEAF1;
    }
    
    h1 {
        font-size: 5.625rem;
        font-family: 'Sacramento', cursive;
        margin: 50px auto 0 auto;
        color: #66BFBF;
    }
    
    h2 {
        font-size: 2.5rem;
        color: #66BFBF;
        font-weight: normal;
        line-height: 2;
        text-align: 10px auto 10px auto;
    }
    
    .Top-Container {
        padding-top: 20px;
    }
    
    .middle-container {
        padding-top: 20px;
    }
    
    .bottom-container {
        padding-top: 20px;
        margin: 20px auto;
    }
    
    .skill-row {
        width: 50%;
        margin: 110px auto 110px auto;
        text-align: left;
        line-height: 2;
        clear: right;
    }
    
    .python {
        width: 25%;
        float: left;
        margin-right: 30px;
    }
    
    .front2 {
        width: 25%;
        float: right;
        margin-left: 30px;
    }
    
    .bottom-cloud {
        position: absolute;
        top: 190px;
        right: 520px;
    }
    
    .top-cloud {
        position: absolute;
        top: 21px;
        left: 450px;
    }
    
    .btn {
        -webkit-border-radius: 28;
        -moz-border-radius: 28;
        border-radius: 28px;
        text-shadow: 3px 4px 30px #666666;
        font-family: Georgia;
        color: #DAEAF1;
        font-size: 23px;
        background: #3BACB6;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        border-top: 10px;
        border-bottom: 50px;
    }
    
    .btn:hover {
        background: #3cb0fd;
        background-image: -webkit-linear-gradient(top, #3cb0fd, #101112);
        background-image: -moz-linear-gradient(top, #3cb0fd, #101112);
        background-image: -ms-linear-gradient(top, #3cb0fd, #101112);
        background-image: -o-linear-gradient(top, #3cb0fd, #101112);
        background-image: linear-gradient(to bottom, #3cb0fd, #101112);
        text-decoration: none;
    }
    
    .hr {
        border: dotted #DAEAF1;
        border-bottom: none;
        width: 30%;
        margin: 100px auto;
    }
    
    .para {
        margin-bottom: 70px;
    }
    
    .footer-link {
        margin: auto 30px;
        text-decoration: none;
        color: #3BACB6;
    }
    
    .footer-link:hover {
        color: #DAEAF1;
        font-size: 130%;
        cursor: grab;
    }